@charset "euc-jp";

.forget-link a:link{
    color:#fff; /* リンク文字色 */
    text-decoration:underline;
}

.login-alignment{margin-bottom: 20%; text-align: center;}
a:visited{
    color:#fff;
    text-decoration:underline;
}
a:active{
    color:#fff;
    text-decoration:underline;
}
a:hover{
    color:#fff; /* リンク文字色（hover時） */
    text-decoration:none;
}
img{
    border:0;
}
.wrap{
    margin:70px auto 0;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 768px){
    .wrap{margin: 0 auto;}
    .page{width: 100%;}
    .main{padding: 2% !important;}
    .wrapper{width: 90%;}
    .btn{width: 100%; margin: 0 auto;}
    .btn-cart, .btn-cart:link, .btn-cart:visited, .btn-cart:active, .btn-cart:hover{width: 100%; margin-bottom: 2%;}
    .loginform{width: 100% !important;}
    .loginform th{width: 22%;}
    .cart-login{width: 100% !important;  margin-bottom: 2% !important; }
    .shoplink { text-align: center !important;  }
    .header{border-radius: 10px 10px 0px 0px;}
}

.header{
    text-align:left;
    overflow:hidden;
    _zoom:1;
    background: #ddd;
    opacity: 0.4;
    text-align: center;
}
.header p{
    margin:10px;
    font-weight:bold;
    font-size:22px; /* ショップタイトルの文字サイズ */
}
.header a{
    text-decoration:none;
    color:#333; /* ショップタイトルの文字色 */
}
.main{
    padding: 15px 89px;
    background: #242424;
    border-width: 1px;
    border-style: solid;
    border-color: #282828;
    opacity: .7;
    width: 100%;
    margin-bottom: 64px;
}
.section{
    overflow:hidden;
    _zoom:1;
    margin-bottom:10px;
}
.entry{
    border-top-width:1px; /* 境目の罫線サイズ */
    border-top-style:dotted; /* 境目の罫線スタイル */
    border-top-color:#ddd;/* 境目の罫線色 */
    padding-top:40px;
}
.headImg{
    margin-bottom:15px;
    text-align:center;
}
h2{
    text-align:left;
    margin-bottom:10px;
    font-size:15px;
    color:#fff;
}
h3{
    text-align:left;
    margin-bottom:10px;
}
.txt01{
    text-align:left;
    line-height:1.6;
}
.errortxt{
    text-align:left;
    color:#ff0000;
    margin-top:8px;
}
.loginform{
    width:390px;
    margin:20px auto 0;
}
.loginform th{
    text-align:left;
    width:120px;
    padding:5px 8px;
    background:#ccc; /* テーブルの背景色（タイトル） */
    font-size:13px; /* テーブルのフォントサイズ（タイトル） */
    color:#333;/* テーブルの文字色（タイトル） */
}
.loginform td{
    text-align:left;
    padding:5px;
    background:#eee; /* テーブルの背景色（項目） */
}
.loginform td input{
    width:200px;
    font-size:13px; /* テーブルのフォントサイズ（項目） */
    color:#333; /* テーブルの文字色（項目） */
}
.keeptxt{
    width:390px;
    text-align:left;
    margin: 5px auto 0;
}
label{
    cursor:pointer; 
}
.btn{
    margin-top:20px;
}

.shop-btn,.shop-btn:link,.shop-btn:visited,.shop-btn:active,.shop-btn:hover{
    background: #ddd;
    color: #777;
    font-size: 14px;
}

.btn input{
    cursor:pointer;
    padding:2px 10px;
}
.link{
    text-align:center;
    margin-top:10px;
}

/* buy */
.buyEntry{
    margin:0 20px 10px 0;
}
.buyNmember{
    margin:0 0 10px 20px;
}
.buyBorder{
    border-right-width:1px; /* 境目の罫線サイズ */
    border-right-style:dotted; /* 境目の罫線スタイル */
    border-right-color:#ddd;/* 境目の罫線色 */
}

/* footer */
.footer{
    margin-top:30px;
}
.shoplink{
    text-align:right;
    margin-bottom:10px;
    opacity: .7;
}
.seal{
    width:400px;
    margin:0 auto;
}
.sealimg img{
    border:5px solid #fff;
}
.sealtxt{
    text-align:left;
    font-size:10px;
    padding-left:10px;
    color:#666;/* フッターの文字色 */
}

/* lockes */

#locked .main{
    padding:30px 30px 0 30px;
}
.errorContents{
    background:#ffeeee;
    padding:16px;
    text-align:left;
    margin:16px auto;
    color:#ff0000;
}

/* amazon */
.amazon-login img{
    width:250px;
}

a:hover img{
    filter: alpha(opacity=75);
    -moz-opacity:0.75;
    opacity:0.75;
}

.password .loginform{
    width: 450px;
}

.password input[name="email"]{
    width: 95%;
}

.notes {
    font-size: 10px;
    color: #888;
    display: block;
    margin-top: 4px;
}

.btn input[type="button"]{
    border: none;
    background: #333;
    color: #fff;
    text-decoration:  none;
    padding: 8px 32px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 17px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.btn input[type="button"].disabled{
    background: #ddd;
    pointer-events: none;
}


.btn input[type="button"]:hover{
    background: #666;   
}

.policy_area{
    border:1px solid #ccc;
    height:175px;
    overflow-x:hidden;
    overflow-y:auto;
    margin:16px auto;
    text-align: left;
    font-size:13px;
}

iframe.privacyPolicy {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    height: 140px;
    overflow: auto;
    box-sizing: border-box;
}

.cautionText{
    color:#ff0000;
    margin-top: 20px;
}
#passKey{
    margin:24px 0 8px;
    background:#ffe0e0;
    border:1px solid #cc0000;
    padding:8px;
}
#passKey p{
    text-align:center;
    font-weight:bold;
    font-size:21px;
    letter-spacing:0.5em;
    line-height:60px;
    color:#cc0000;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:0;
    background:#fff;
}
.cautionCopy{
    text-align:center;  
}

.confirm-notes{
    font-size: 12px;
    color: #666;
}